
.env
.env.*
!.env.example


*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

/bin/
/dist/

/go.work
/go.work.sum


**/vendor/
**/.cache/
**/.tmp/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

/build/
**/build/

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/


coverage/
*.log

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

docker-compose.override.yml
